
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutHeaderLogin.cshtml";
   
}

<head>
    <link href="~/styles/style.css" rel="stylesheet" type="text/css" />
</head>

<div id="id01" class="modal">

    <div class="container">
        <form action="Verify" method="post"" class="login-form">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="parola" required>

            <button type="submit">Login</button>
        </form>
    </div>


</div>
<div id="id02"><p>De completat...</p></div>